<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Họ tên</label>
            <input type="text" class="form-control" name="txt-fullname" [hidden]="!showInput()" [(ngModel)]="account.name">
            <input type="text" class="form-control" name="txt-fullname" [hidden]="showInput()" [(ngModel)]="account_edit.name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Ngày sinh</label>
            <input type="date" min="1960-01-01" max="2022-01-01" class="form-control" name="birthday" [hidden]="!showInput()" [(ngModel)]="account.birthday">
            <input type="date" min="1960-01-01" max="2022-01-01" class="form-control" name="birthday" [hidden]="showInput()" [(ngModel)]="account_edit.birthday">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" [hidden]="!showInput()" [(ngModel)]="account.username">
            <input type="text" class="form-control" name="username" [hidden]="showInput()" [(ngModel)]="account_edit.username">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Mật khẩu</label>
            <input type="password" class="form-control" name="pass" [hidden]="!showInput()" [(ngModel)]="account.password">
            <input type="password" class="form-control" name="pass" [hidden]="showInput()" [(ngModel)]="account_edit.password">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Địa chỉ</label>
            <input type="text" class="form-control" name="address" [hidden]="!showInput()" [(ngModel)]="account.address">
            <input type="text" class="form-control" name="address" [hidden]="showInput()" [(ngModel)]="account_edit.address">
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <button class="btn btn-primary" [hidden]="!showInput()" (click)="doRegister()">Đăng ký</button>
    <button class="btn btn-primary" [hidden]="showInput()" (click)="doUpdate()">Lưu thay đổi</button>
</div>