<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="register">
        <!-- <h3 class="text-center text-white pt-5">Welcome Ứng dụng Web</h3> -->
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form id="register-form" class="form" #frmRegister="ngForm" (ngSubmit)="onSubmit(frmRegister)">
                            <h3 class="text-center text-info">Register Account</h3>
                            <div class="form-group">
                                <label for="name" class="text-info">Họ và tên:</label><br>
                                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="new_account.name" required>
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="text-info">Ngày sinh:</label><br>
                                <input type="date" min="1970-01-01" max="2022-01-01" name="birthday" id="birthday" class="form-control" [(ngModel)]="new_account.birthday" required>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control" [(ngModel)]="new_account.username" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" [(ngModel)]="new_account.password" required>
                            </div>
                            <div class="form-group">
                                <label for="re-password" class="text-info">Nhập lại Password:</label><br>
                                <input type="password" name="re-password" id="re-password" class="form-control" [(ngModel)]="re_password" required>
                            </div>
                            <div class="form-group">
                                <label for="address" class="text-info">Địa chỉ:</label><br>
                                <input type="text" name="address" id="address" class="form-control" [(ngModel)]="new_account.address" required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> -->
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">
                            </div>
                            <!-- <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
